<footer class="row">
    <div class="one-half column">
        <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
        <p>{{ site.description }}</p>
    </div>

    <div class="one-half column">
        <ul>
            <li>
                <a href="mailto:{{ site.email }}" title="Contact me via email">
                    <span class="fa fa-envelope-square"></span>
                    <span class="sr-only">Email</span>
                </a>
            </li>

            <li>
                <a href="https://github.com/{{ site.github }}" title="Code I write and projects I contribute to on GitHub">
                    <span class="fa fa-github-square"></span>
                    <span class="sr-only">GitHub</span>
                </a>
            </li>

            <li>
                <a href="https://www.linkedin.com/in/{{ site.linkedin }}" title="My work experience and qualifications on LinkedIn">
                    <span class="fa fa-linkedin-square"></span>
                    <span class="sr-only">LinkedIn</span>
                </a>
            </li>

            <li>
                <a href="https://twitter.com/{{ site.twitter }}" title="My attempt at humour on Twitter">
                    <span class="fa fa-twitter-square"></span>
                    <span class="sr-only">Twitter</span>
                </a>
            </li>

            <li>
                <a href="https://www.youtube.com/user/{{ site.youtube }}" title="Videos I helped make on YouTube">
                    <span class="fa fa-youtube-square"></span>
                    <span class="sr-only">YouTube</span>
                </a>
            </li>
        </ul>
    </div>
</footer>
