// Colours:

$blue: #3498db;
$gray: #999999;
$gray-light: #CCCCCC;
$gray-lighter: #F1F1F1;

// Variables:

$article-width: 960px;
$body-bg: white;
$body-color: black;
$body-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font-weight: 300;
$body-line-height: 1.6;
$code-radius: 0.3rem;
$code-bg: $gray-lighter;
$code-font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
$code-font-size: 1.4rem;
$code-padding-horizontal: 0.4em;
$code-padding-vertical: 0.2em;
$divider-color: $gray-light;
$divider-spacing: 4rem;
$divider-width: 1px;
$element-spacing: 2.5rem;
$header-font-size: 1.2rem;
$header-font-weight: 500;
$header-icon-hover-scale: 1.2;
$header-icon-size: 1.7rem;
$header-link-size: 2.5rem;
$header-padding-vertical: 1rem;
$header-transition-duration: 0.2s;
$header-underline-height: 0.2rem;
$header-underline-spacing: 0.2rem;
$heading-font-size: 3.2rem;
$heading-font-weight: 300;
$link-color: $blue;
$main-padding-horizontal: 4rem;
$main-padding-vertical: 8rem;
$small-font-size: 1.3rem;
$subheading-font-size: 1.4rem;
$subheading-font-weight: 500;
$transition-duration: 0.1s;

// Mixins:

// Adapted from http://a11yproject.com/posts/how-to-hide-content/
@mixin visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin uppercase {
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

// Scaffolding:

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  // Sets up font sizes so that 1rem = 10px.
  font-size: 62.5%;
}

body {
  background-color: $body-bg;
  color: $body-color;
  font-family: $body-font-family;
  // Work around Chrome bug misinterpreting rems on body element.
  font-size: 1.6em;
  font-weight: $body-font-weight;
  line-height: $body-line-height;
}

blockquote,
dl,
figure,
form,
h1, h2, h3, h4, h5, h6,
ol,
p,
pre,
table,
ul {
  margin: $element-spacing 0;
}

a {
  color: $link-color;
  text-decoration: none;
}

code {
  background-color: $code-bg;
  border-radius: $code-radius;
  font-family: $code-font-family;
  font-size: $code-font-size;
  padding: $code-padding-vertical $code-padding-horizontal;
  white-space: nowrap;
}

hr {
  border-color: $divider-color;
  border-style: solid;
  border-width: $divider-width 0 0 0;
  margin: $divider-spacing 0;
}

img {
  max-width: 100%;
}

pre {
  > code {
    display: block;
    white-space: pre;
  }
}

small {
  font-size: $small-font-size;
}

ul {
  list-style-type: square;
}

// Layout:

header {
	@include align-items(center);
  @include display(flex);
	border-bottom: $divider-width solid $divider-color;
  padding: $header-padding-vertical $main-padding-horizontal;

	> * {
	  @include flex-shrink(0);
	}

	h1, h2 {
	  @include uppercase;
    font-size: $header-font-size;
    font-weight: $header-font-weight;
    line-height: 1;
    margin: 0;
  }

  h1 {
    margin-right: 0.5em;
    position: relative;
    /*transition: transform 0.1s;*/

    &::before {
      @include transition-duration($header-transition-duration);
      @include transition-property(left, right);
      @include transition-timing-function(ease-out);
      background-color: $blue;
      content: "";
      height: $header-underline-height;
      left: 50%;
      margin-top: $header-underline-spacing;
      position: absolute;
      right: 50%;
      top: 100%;
      z-index: -1;
    }

    &:hover::before {
      left: 0;
      right: 0;
    }
  }

  h2 {
    color: $gray;
  }

  ul {
    @include display(flex);
    @include flex-grow(1);
    @include justify-content(flex-end);
    list-style-type: none;
    margin: 0;

		a {
      @include transition(transform $transition-duration);
			display: block;
			height: $header-link-size;
      text-align: center;
			width: $header-link-size;

			span {
			  @include visually-hidden;
			}

			svg {
			  height: $header-icon-size;
			  width: $header-icon-size;
        vertical-align: middle;

			  path {
          @include transition(fill $transition-duration);
			    fill: $gray;
			  }
      }

      // Make LinkedIn logo appear better vertically centered.
			&.linkedin svg {
        position: relative;
        top: -1px;
			}

			&:hover {
 				@include transform(scale($header-icon-hover-scale));

        svg path {
          fill: $blue;
        }
			}
		}
	}
}

main {
  margin-left: auto;
  margin-right: auto;
  max-width: $article-width;
  padding: $main-padding-vertical $main-padding-horizontal;
}

article {
  > *:last-child {
    margin-bottom: 0;
  }

  a {
	  // Use slightly-nicer spaced underline.
    @include transition(border-color $transition-duration);
	  border-bottom: 1px solid $link-color;

	  &:hover {
		  border-color: transparent;
	  }
	}

  h1 {
    font-size: $heading-font-size;
    font-weight: $heading-font-weight;
    line-height: 1;
    margin-top: 0;

    a, a:hover {
      border-width: 0;
      color: inherit;
    }
  }

  h2, h3, h4, h5, h6 {
    @include uppercase;
    font-size: $subheading-font-size;
    font-weight: $subheading-font-weight;
  }

  small {
    color: $gray;
  }

  sup {
    a {
      border-width: 0;
    }
  }

  time {
    color: $gray;
    display: block;
    font-size: $small-font-size;
    font-style: italic;
    margin-bottom: $element-spacing;
    margin-top: $element-spacing;
  }

  .footnotes {
    font-size: $small-font-size;

    // Add extra space to keep list numbers inside article width.
    padding-left: 2rem;

    .return {
      margin-left: 0.5em;

      &::after {
        content: "\21a9"; // Return arrow
      }
    }
  }

  .highlight {
    margin-left: -$main-padding-horizontal;
    margin-right: -$main-padding-horizontal;

    code {
      border-radius: 0;
      margin: 0 auto;
      max-width: $article-width;
      padding: $element-spacing $main-padding-horizontal;
    }
  }

  .read-more-link {
    margin: 0;
    text-align: right;
  }
}
