$accent-color: #6991AC;
$alt-accent-color: darken($accent-color, 45%);
$dark-color: black;
$light-color: white;
$page-width: 940px;
$side-padding: 20px;

html {
  box-sizing: border-box;

  // Set up font sizes so that 1rem = 10px.
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $dark-color;
  color: $light-color;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6;
  padding: 2rem 0;
}

blockquote,
dl,
figure,
form,
h1, h2, h3, h4, h5, h6,
ol,
p,
pre,
table,
ul {
  margin: 2rem 0;
}

a {
  color: $accent-color;
  text-decoration: none;

  // Use slightly-nicer spaced underline.
  @include transition(border-color 0.1s);
  border-bottom: 1px solid $accent-color;

  &:hover {
    border-color: transparent;
  }
}

code {
  background-color: $alt-accent-color;
  border-radius: 0.2rem;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1.4rem;
  padding: 0.2rem 0.4rem;
  white-space: nowrap;
}

hr {
  border-color: white;
  border-style: solid;
  border-width: 0.2rem 0 0 0;
  margin: 4rem auto;
}

iframe {
  display: block;
}

img {
  max-width: 100%;
}

pre {
  background-color: $alt-accent-color;
  margin-left: -$side-padding;
  margin-right: -$side-padding;
  overflow-x: auto;
  padding: 2rem $side-padding;

  code {
    display: block;
    padding: 0;
    white-space: pre;
  }
}

small {
  font-size: 1.2rem;
}

sup a {
  border-width: 0;
}

ul {
  list-style-type: square;
}

body > header {
  @include align-items(center);
  @include display(flex);
  @include flex-wrap(wrap);
  line-height: 1;
  margin: 0 auto;
  margin-bottom: 12rem;
  max-width: $page-width;
  padding: 0 $side-padding;

  h1, h2 {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    margin: 0;
  }

  h1 {
    margin-right: 0.5em;
    position: relative;

    a {
      border-width: 0;
      color: $light-color;
    }

    &::after {
      @include transition-duration(0.2s);
      @include transition-property(left, right);
      @include transition-timing-function(ease-out);
      background-color: $light-color;
      content: "";
      height: 0.2rem;
      left: 50%;
      margin-top: 0.3rem;
      position: absolute;
      right: 50%;
      top: 100%;
    }

    &:hover::after {
      left: 0;
      right: 0;
    }
  }

  h2 {
    color: $accent-color;
  }

  path {
    fill: $accent-color;
  }

  span {
    // Adapted from http://a11yproject.com/posts/how-to-hide-content/
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  svg {
    height: 1.7rem;
    width: 1.7rem;
    vertical-align: middle;
  }

  ul {
    @include display(flex);
	  @include flex-shrink(0);
    list-style-type: none;
    margin: 0;
    margin-left: auto;
    padding: 0;

    // Align last icon to right of page.
    margin-right: -0.4rem;

		a {
      @include transition(transform 0.1s);
      border-width: 0;
			display: block;
      padding: 0 0.4rem;

			&:hover {
        @include transform(scale(1.2));
      }
		}
  }

  // Make LinkedIn logo appear better vertically centered.
  .linkedin svg {
    position: relative;
    top: -1px;
  }
}

article, main {
  > *:not(header) {
    margin-left: auto;
    margin-right: auto;
    max-width: $page-width;
    padding: 0 $side-padding;
  }

  h1 {
    font-size: 3.6rem;
    font-weight: 500;
    margin: 0 auto;
    margin-bottom: 1rem;
    max-width: $page-width;
    padding: 0 $side-padding;

    a, a:hover {
      border-width: 0;
      color: $dark-color;
    }
  }

  h2, h3, h4, h5, h6 {
    background-color: $light-color;
    color: $dark-color;
    font-size: inherit;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 2rem;
    margin-top: 4rem;
    padding: 1rem $side-padding;
  }

  header {
    background-color: $light-color;
    line-height: 1;
    margin-bottom: 4rem;
    padding: 2rem 0;

    time {
      color: $accent-color;
      display: block;
      font-weight: 500;
      line-height: 1;
      margin: 0 auto;
      max-width: $page-width;
      padding: 0 $side-padding;
    }
  }

  hr {
    padding: 0;
  }

  ol, ul {
    padding-left: 6rem;
  }
}

.footnotes {
  font-size: 1.2rem;

  // Add extra space to keep list numbers inside article width.
  padding-left: 2rem;
}

.links {
  list-style-type: none;
  padding-left: 2rem;

  // Set color of text to same as links so that overflow ellipsis matches.
  color: $accent-color;

  li {
    margin-bottom: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  time {
    color: $light-color;
    font-size: 1.4rem;
    letter-spacing: -0.1rem;
    margin-right: 0.5rem;

    // Enable tabular (monospaced) numbers so that they align.
    font-feature-settings: "tnum"; //
  }
}

.return {
  border-width: 0;
  margin-left: 0.5em;

  &::after {
    content: "\21a9"; // Return arrow
  }
}

@media (max-height: 700px) {
  body {
    padding-bottom: 0;
  }

  body > header {
    margin-bottom: 2rem;
  }

  article, main {
    header {
      margin-bottom: 2rem;
    }

    h2, h3, h4, h5, h6 {
      margin-top: 2rem;
    }
  }

  hr {
    margin: 2rem auto;
  }
}

@media (max-width: 530px) {
  body > header h2 {
    display: none;
  }
}
