:root {
  /* Colours */
  --body-background-color: #fff;
  --body-color: #333;
  --code-background-color: #eee;
  --headings-color: #000;
  --hr-border-color: #eee;
  --kbd-background-color: #fafbfc;
  --kbd-border-bottom-color: #959da5;
  --kbd-border-color: #c6cbd1;
  --kbd-box-shadow-color: #959da5;
  --kbd-color: #444d56;
  --link-color: #2980b9;
  --link-hover-color: #20638f;
  --link-visited-color: #8e44ad;
  --link-visited-hover-color: #703688;
  --time-color: #999;

  /* Layout */
  --side-padding: 20px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

blockquote,
dl,
figure,
form,
h1, h2, h3, h4, h5, h6,
ol,
p,
pre,
table,
ul {
  margin: 2rem 0;
}

a {
  color: var(--link-color);
  text-decoration: none;

  /* Use slightly-nicer spaced underline. */
  border-bottom: 1px solid var(--link-color);

  &.image-link {
    border-bottom-width: 0;
  }

  &:hover {
    border-color: transparent;
    color: var(--link-hover-color);
  }

  &:visited {
    border-color: var(--link-visited-color);
    color: var(--link-visited-color);

    &:hover {
      color: var(--link-visited-hover-color);
    }
  }
}

abbr,
abbr[title] {
  text-decoration: none;
}

article {
  margin-top: 12rem;

  header {
    margin-bottom: 4rem;

    a, a:hover, a:visited, a:visited:hover {
      border-width: 0;
      color: inherit;
    }

    h1 {
      font-size: 3.2rem;
      margin-bottom: 1rem;
    }

    time {
      color: var(--time-color);
      font-size: 1.6rem;
    }
  }

  img {
    width: 100%;
  }
}

body {
  background-color: var(--body-background-color);
  color: var(--body-color);
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 700px;
  padding: 4rem var(--side-padding);
}

code {
  background-color: var(--code-background-color);
  border-radius: 0.2rem;
  padding: 0.2rem 0.4rem;
  white-space: nowrap;
}

code,
kbd {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--headings-color);
  font-weight: 700;
  line-height: 1.1;
}

h2, h3, h4, h5, h6 {
  font-size: 2rem;
  margin-top: 4rem;
}

hr {
  border-color: var(--hr-border-color);
  border-style: solid;
  border-width: 0.2rem 0 0 0;
  margin: 4rem auto;
  padding: 0;
}

html {
  box-sizing: border-box;

  /* Set up font sizes so that 1rem = 10px. */
  font-size: 62.5%;
}

iframe {
  border: none;
  display: block;
}

img {
  max-width: 100%;
}

kbd {
  background-color: var(--kbd-background-color);
  border: solid 1px var(--kbd-border-color);
  border-bottom-color: var(--kbd-border-bottom-color);
  border-radius: 0.3rem;
  box-shadow: inset 0 -1px 0 var(--kbd-box-shadow-color);
  color: var(--kbd-color);
  display: inline-block;
  line-height: 1.6rem;
  padding: 0.3rem 0.5rem;
}

pre {
  background-color: var(--code-background-color);
  margin-left: calc(-1 * var(--side-padding));
  margin-right: calc(-1 * var(--side-padding));
  overflow-x: auto;
  padding: 2rem var(--side-padding);

  code {
    display: block;
    padding: 0;
    white-space: pre;
  }
}

section {
  margin-top: 8rem;

  li {
    margin-bottom: 0.5rem;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }
}

small {
  font-size: 1.4rem;
}

sup a {
  border-width: 0;
}

ol, ul {
  padding-left: 6rem;
}

ul {
  list-style-type: square;
}

video {
  max-width: 100%;
}

[role="banner"] {
  a {
    border-bottom: 2px solid var(--headings-color);
    color: inherit;
    display: block;
    padding-bottom: 2px;

    &:hover {
      border-color: transparent;
      color: inherit;
    }
  }

  h1 {
    display: inline-block;
    font-size: 1.8rem;
    margin: 0;
    text-transform: uppercase;
  }
}

#about {
  align-items: center;
  display: flex;
  justify-content: center;

  img {
    border-radius: 0.5rem;
    margin-right: 2rem;
  }

  li:last-child {
    margin-bottom: 0;
  }

  ul {
    margin: 0;
  }
}

#blog {
  h2 a {
    border-bottom-width: 0;
    margin-left: 0.2rem;

    &:hover path {
      fill: var(--link-hover-color);
    }
  }

  li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  path {
    fill: var(--link-color);
  }

  svg {
    height: 2.1rem;
    position: relative;
    top: 1px;
    width: 2.1rem;
    vertical-align: text-bottom;
  }

  time {
    color: var(--body-color);
    font-size: 1.6rem;
    margin-right: 0.5rem;

    /* Enable tabular (monospaced) numbers so that they align. */
    font-feature-settings: "tnum";
  }

  ul {
    /* Set color of text to same as links so that overflow ellipsis matches. */
    color: var(--link-color);
  }
}

#social {
  path {
    fill: var(--body-color);
  }

  svg {
    height: 2rem;
    margin-right: 0.5rem;
    position: relative;
    width: 2rem;
    vertical-align: text-bottom;
  }

  .email    svg { top: -1px; }
  .github   svg { top: -2px; }
  .linkedin svg { top: -2px; }
  .youtube  svg { top: -1px; }
}

.footnotes {
  font-size: 1.4rem;

  /* Add extra space to keep list numbers inside article width. */
  padding-left: 2rem;

  code {
    font-size: 1.2rem;
  }

  li {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.return {
  border-width: 0;
  margin-left: 0.5em;

  &::after {
    content: "\21a9"; /* Return arrow */
  }
}

/* Make videos scale to fit mobile.
 * https://stackoverflow.com/a/15844571
 */
.video {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; /* 16/9 */
  position: relative;

  iframe {
    height: 100%;
    position: absolute;
    width: 100%;
  }
}

@media (max-height: 700px) {
  article {
    margin-top: 6rem;
  }

  body {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  section {
    margin-top: 4rem;
  }
}

@media (max-width: 550px) {
  #about {
    align-items: start;
    flex-direction: column;

    img {
      margin-right: 0;
      margin-bottom: 2rem;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-background-color: #000;
    --body-color: #ccc;
    --code-background-color: #111;
    --headings-color: #fff;
    --hr-border-color: #111;
    --kbd-background-color: #050403;
    --kbd-border-bottom-color: #6a625a;
    --kbd-border-color: #39342e;
    --kbd-box-shadow-color: #6a625a;
    --kbd-color: #bbb2a9;
  }
}
