@media print {
  body {
    background-color: white;
    color: black;
  }

  a {
    border-color: gray;
    color: gray;
  }

  code {
    background-color: transparent;
  }

  pre {
    background-color: transparent;
    border: 1px solid lightgray;

    span {
      color: black !important;
    }
  }

  body > header {
    margin-bottom: 4rem;

    h1 a {
      color: black;
    }

    h2 {
      color: gray;
    }

    ul {
      display: none;
    }
  }

  article, main {
    header {
      background-color: transparent;

      time {
        color: gray;
      }
    }

    h1, h2, h3, h4, h5, h6 {
      background-color: transparent;
      color: black;
    }
  }

  .links time {
    color: black;
  }
}
